<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4))>
  <div class="container">
   <h1>COCKTAILS</h1>
    <!-- <a class="btn btn-flat" href="#">Apply now</a> -->
  </div>
</div>

<div class="cards">
<% @cocktails.each do|cocktail| %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
<h3><%= cocktail.name %></h3>
<%= link_to "", cocktail_path(cocktail)  %>
  </div>

<% end %>
</div>
    <%= link_to "ADD A COCKTAIL!", new_cocktail_path  %>
