.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.banner {
  background-size: cover;
  background-color: white;
  border: 1px solid white;
  background-position: center;
  padding: 90px 0;
}

.banner h1 {
  margin: 0;
  color: black;
  font-size: 62px;
  font-family: Stylish;
  font-weight: bold;
  text-align: center;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
}

.header {
  text-align: center;
  background-color: black;
}

.header h2{
  font-family: Stylish;
}

.content{
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.content2{
  margin-top: 10px;
  display:flex;
  justify-content: center;
}
